<div>
    <% @question.comments.each do |comment| %>
    <h4>Comment by <%= comment.user.username%></h4>
    <p class="comment"><%= comment.comment_text %></p>
    <p>Posted <%= time_ago_in_words(comment.created_at) %> ago.</p>
    <% end %>
</div>