<div class="edit_comment" style="display:none">
<%= form_for [ @question, comment ] do |f| %>
    <p>
        <%= f.label :comment_text %><br/>
        <%= f.text_area :comment_text %>
    </p>
    <p>
        <%= f.submit 'Edit', class:"btn btn-warning btn-sm ml-2" %>

    </p>
<% end %>
</div> 


