<h1> <%= @user.username %> Profile </h1> <br>
                            
                   <strong>Username:</strong> <%= @user.username %> <br>
                   <strong>Email:</strong> <%= @user.email %> <br>
                   <strong>Profile Description:</strong> <%= @user.profile_description %> <br>