<h1>Options#new</h1>
<p>Find me in app/views/options/new.html.erb</p>

<div class="container">

    <%= form_for [@question, @option] do |o| %>

        <div class="form-row">
            <%= o.label :option_text, "Option 1" %>
            <%= o.text_field :option_text, class: "form-control" %>
        </div>


    <%= o.submit "Submit", class: "btn btn-primary" %>

    <% end %>

</div>

