/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require bootstrap
 *= require_tree .
 *= require_self
 */
 
html { 
    height:100%; 
}
body{ 
    min-height:100%; 
    padding:0; 
    margin:0; 
    position:relative; 
    font-family: 'Roboto', sans-serif;
    /* background: linear-gradient(rgba(251, 251, 242,.8), rgba(251, 251, 242,.8)),url('/iconlife.jpg'); */
    background: linear-gradient(rgba(218, 242, 236,0.8), rgba(218, 244, 237, 0.66)),url('/iconlife.jpg');
}

body::after{ content:''; display:block; height:100px; }





.card-header {
    /* background:#264653; */
    background:#0f4c5c;
    color:#fcbf49 !important;
}

.card-footer {
    background-color:rgba(80, 157, 143,0.7);
}


.card-body, .card-res {
    /* background: #e5e5e5; */
    background: rgba(244, 245, 245, 0.947);
    /* background: #faf3dd; */
    /* background-color: #fcf5c7; */
}


/* .card-index a {

} */
  .cat-index a{
    color: #0f4c5c !important;
}

.cat-index a:hover{
    color: grey!important;

}

.def-img{
    border-radius:50%;
    width: 50px;
    object-fit: cover;
    margin-bottom: -5px;
    margin-right: 5px;
}

.def-ava {
    background-color: #DDDDDD;
    border-radius: 50%;
    margin-bottom: -5px;
    margin-right: 5px;
}


.hr-new{
    border: 1px solid transparent;
}



.jumb-bg{
    background: #001524;
    /* background: white; */
    /* margin:  0 4rem; */
    /* padding-bottom: -10px; */
}



.jumb-anim {
    /* background-color: #DDDDDD; */
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 2rem;
    font-weight:  100;
    letter-spacing: 2px;
    margin: -10px auto;
    /* margin-bottom: -50px; */
    /* text-align: center; */
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
    from {
    -webkit-filter: hue-rotate(0deg);
    }
    to {
    -webkit-filter: hue-rotate(-360deg);
    }
}


@media screen and (max-width: 500px) { 
    .jumb-bg{
        /* background: #001524; */
        background: #001524;
        /* position: relative;
        z-index: -2; */
        /* margin:  0 4rem; */
        /* padding-bottom: -10px; */
    }


    .jumb-anim {
        display: none;
    }

    .mobile-jumbo {
        padding-top: 15px;
        margin-bottom: -2px;
        background:  #001524;
        text-align: center;
    }
    .mb-jumbo-lead:before {
        color: #fcbf49;
        content: "Sick of Decisions?";
    }
    .mb-jumbo-follow:before {
        color: #fcbf49;
        content: "Let us render your destiny today!";
    }

    }



.navbar-custom { 
    /* background-color: #003049 !important; */
    background-color: #0f4c5c !important;
    /* background-color: #264653 !important; */
} 

.navbar-custom .nav-link{
        
    color: #fcbf49 !important; 
}

.nav-link:hover{
    color: #DDDDDD !important;
}

.fa-sign-in, .fa-sign-out {
    color: #fcbf49;

}
.fa-sign-in:hover{
    color:#DDDDDD;
}

.fa-sign-out:hover{
    color:#DDDDDD;
}

#brand {
    color:#fcbf49;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-style: italic;
}

#brand:hover {
    color: #DDDDDD;
}

.signup-card{
    margin-top: 10px;
}

.reg-card{
    
    background-color: #0f4c5c !important;
    color: #fcbf49;
    border-radius: 0.5em;

}

/* .reg-img-card{
    
    /* border: none; */
    /* margin-top: 1.5rem;
    height: 85vh;
    
} */

/* #reg-img{
    height: 100%;
    width: 100%;
} */



.auth-inp input, textarea{
    width: 100%;
    margin-bottom: 20px;
}

article{ width:100%; margin:0 auto; color:#444;  }

footer{ 
  position:absolute; 
  bottom:0; 
  width:100%; 
  height:60px; 
  text-align: center;
  padding-top: 14px;
  color:  #fcbf49;
  font-size: 10px;
  margin-bottom: -1px;
}

footer{ background: #0f4c5c; }

footer a {
    color: #fcbf49;
    
}

footer a:hover{
    color:#fff;
    text-decoration: none;
}





#cp-footer{
    letter-spacing: 2px;
}


@media screen and (max-width: 400px) {


  }