// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.stayEnd {
    text-align: center;
  }

.field_with_errors {
  width: 100%; 
}


.form-width {
  width: 100%;
}
.datetime-box {
  width: 30%;
  border: lightgrey 1px solid;
  border-radius: 0.25em;
  padding: 5px;
}


// .progress-bar {
//   // background-color:#db3a34;
//   color: white;
// }