// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.user-bio {
    color:#0f4c5c;
}


.def-img-prof{
    border-radius:50%;
    width: 100px;
    object-fit: cover;
    /* margin-bottom: -5px;
    margin-right: 5px; */
}

.user-bio a {
    color:#0f4c5c;
    
}

.user-bio a:hover{
    color:#fcbf49;

}

.user-poll-links a{
    color:#fcbf49;
}

.user-poll-links a:hover{
    color: #DDDDDD;
    text-decoration: none;

}