<h1> All Categories </h1> <br>


    <% @categories.each do |ca| %>

    <div class="card">
<h3 class="card-header"># <%= link_to ca.cat_type, category_path(ca.id) %> </h3>
    </div> <br>
    

    <% end %>